<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" [routerLink]="['']"></ion-icon>
    <ion-title>Artistas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>
      The Weeknd
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Tyler, The Creator
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Joji
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Childish Gambino
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Lana del Rey
    </ion-label>
  </ion-item>

</ion-content>
