<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" [routerLink]="['']"></ion-icon>
    <ion-title>Categoría</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">

  <ion-item>
    <ion-label>
      LoFi
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Indie Pop
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Rock
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Hip-hop/rap
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      R&B/Soul
    </ion-label>
  </ion-item>

</ion-content>
